@tailwind base;
@tailwind components;
@tailwind utilities;

#signature{
    stroke-dasharray: 2371;
    stroke-dashoffset: 2371;
    animation: sign 4s ease infinite ;
  }
  
  @keyframes sign {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  
  .clip-path {
  
    clip-path: polygon(50% 0%, 0% 100% , 100% 100%, );
    
    }


    .service-card {
      width: auto;
      height: 338px;
      background: transparent;
      border: 3px solid #7562e0;
      filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
      border-radius: 16px;
    }
    
    .service-card:nth-child(even){
      border: 3px solid white;
    }
    
    .service-card:hover{
      border-color: deepskyblue;
    }

    .wave {
      position: relative;
      width: 100px;
      height: 100px;
      text-align: center;
    }
    
    h2 {
      position: absolute;
      text-align: center;
      line-height: 100px;
      font-size: 70px;
      text-transform: uppercase;
    }
    
    h2:nth-child(1) {
      color: transparent;
      -webkit-text-stroke: 2px red;
    }
    
    h2:nth-child(2) {
      color: #03a9f4;
      animation: wave 2s ease-in-out infinite;
    }
    
    @keyframes wave {
      0% {
        clip-path: polygon(0% 38%, 21% 40%, 38% 51%, 54% 57%, 75% 57%, 100% 52%, 100% 100%, 0% 100%);
      }
      50% {
        clip-path: polygon(0 49%, 16% 56%, 33% 55%, 55% 50%, 75% 42%, 100% 40%, 100% 100%, 0% 100%);
      }
      100% {
        clip-path: polygon(0% 38%, 21% 40%, 38% 51%, 54% 57%, 75% 57%, 100% 52%, 100% 100%, 0% 100%);
      }
    }

    
@layer utilities {
  .circle {
    @apply relative flex items-center justify-center h-[500px] 
  }
  .circle::before {
    @apply content-[""] absolute bg-rose-600 h-[200px] w-[200px] rounded-full transform translate-x-[-120px]  translate-y-[-70px]
  }

  .circle::after {
    @apply content-[""] absolute bg-amber-500 h-[200px] w-[200px] rounded-full transform translate-x-[120px]  translate-y-[70px]
  }
  .atm-card {
    @apply relative h-[180px] w-[330px] bg-white/10 z-10 backdrop-filter backdrop-blur-lg shadow-lg rounded-2xl
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold  hover:from-[#FF56F6] hover:to-[#42A6E3];
}
}



/* this is for circular navbar */

/* .container {
	width: 270px;
	height: 270px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
} */

.toggle {
	width: 70px;
	height: 70px;
	background: #fff;
	border-radius: 50%;
	color: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	cursor: pointer;
	z-index: 20;
	transition: 0.3s;
}

.container.active .toggle {
	transform: rotate(45deg);
}

.container .menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.menu li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transform: rotate(calc(360deg / 6 * var(--i)));

}

.menu li a {
	width: 55px;
	height: 55px;
	color: #222;
	background: #fff;
	border-radius: 50%;
	font-size: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: visible;
	transition: 0.3s;
}

.container.active .menu li a {
	top: 0;
	transform: translate(-50%, -50%) rotate(calc(-360deg / 6 * var(--i)))
}